doctype html
- var searchText= "I’m looking for.."
- var menu = ["Home", "About US", "Jobs", "Clients", "Employers", "contact us"]
mixin menu(item)
  ul
    each item in menu
      li: a(href="/") #{item}   

html
  head
    title Jade
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='style/normalize.css')
    link(rel='stylesheet', href='style/font-awesome.min.css')  
    link(rel='stylesheet', href='style/style.css')

  body
    section#main
      .wrapper
        header.clear
          figure.left: img(src="img/logo.png", alt="logo")
          nav.right
            +menu(menu)
        h3 #{searchText} 
        div.search
          form(id="", method="", action="")
            input(type='text' placeholder='Enter a Job Description')
            a(href="/") <i class="fa fa-search"></i> Search 
    .decoration-line.clear
      .first
      .second
      .third
      .fourth
      .fifth
      .first
      .second
      .third
      .fourth
      .fifth
    section.about-block
      .wrapper
        h3 We’re leaders in
        h2 Creative Digital Recruitment
        .decorate-border
        p.description
          | Based in Surry Hills, the creative hub of Sydney we are surrounded by creativity </br>
          |  and that reflects on the type of jobs we recruit for.
        a(href="/" class="read-more") FIND OUT MORE ABOUT US!
    .decoration-line.clear
      .first
      .second
      .third
      .fourth
      .fifth
      .first
      .second
      .third
      .fourth
      .fifth
    section.subscribe
      p Subscribe to our Job Seeker Mailing List
      .field-wrapper
        form(id="", method="", action="")
          input(type="text" placeholder="Enter Your Email Address")
          a(href="/" class="submit") <i class="fa fa-envelope-o"></i> 
    .decoration-line.clear
      .first
      .second
      .third
      .fourth
      .fifth
      .first
      .second
      .third
      .fourth
      .fifth 
    footer
      .wrapper.clear
        .left
          i.fa.fa-envelope-o
          a(href="/" class="mail") hello@twobytes.com.au
          p Copyright © 2014 Two Bytes Consulting. Terms & Policies.
        
















